
@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}
<style>
    .forms {
        padding-top: 10px;
    }

    .Dashboard {
        text-decoration: underline !important;
    }
</style>
<div class="row forms">
    <div class="panel">
        <div class="panel-heading">
            <h4> Welcome to User Panel</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-center">Welcome Niraj Bokati. Use can Manage your Account and Bookings. </p>
                </div>
            </div>
        </div>
    </div>
</div>

